body{
 overflow-y: scroll;
}
.main{
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.container{
    display: flex; 
   
    
}
.nav{
    color: rgb(255, 255, 255);
    margin-left: 433px;
    margin-top: 16px;
    gap: 40px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: Inter;
    font-weight: 20px;
}
.logo{
    margin: 22px;
    margin-top: 35px;
}
.text{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 98px;
    
}
.mainheading{
    font-family: Montserrat;
    font-size: 68px;
    font-weight: bold;
    
}
.subheading{
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;   
}
button{
    border-radius: 20px;
    color: white;
    background-color: #DD2C2C;
    font-family: Poppins;
    font-size: 22px;
    width: 176px;
    height: 52px;
    margin-top: 36px;
}
.nav-button{
    width: 100px;
    height: 40px;
    display: inline;
    
    font-weight: medium;
    font-size: 16px;
   
}
.login{
    margin: 20px;
    margin-left: 210px;
    margin-top: -11px;
}
#signup{
    background-color: transparent;
    border-color:  #DD2C2C;
}
.review{
    display: flex;
    justify-content: center;
}
.st{
    margin-top: 20px;
    margin-right: 5px;
}
.container2{
    background-color: #280404;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 110px;
    height: 78px;

}
.rev{
    margin-left: 5px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;   
    margin-top: 25px;

}
.seen{
    color: white;
    font-size: 16px;
    font-family: Inter;
    font-weight: medium;
    
}
.nav ul a {
    color: #fff; 
    text-decoration: none;
  }

/* ABOUT SECTION */

.globe{
    background-image: url(images/globe2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    
    
   
}

.about{
    display: flex;
    
}
.users{
    color: white;
    font-size: 52px;
    font-family: Roboto;
    font-weight: bold;
    margin-left: 0px;
}
.white-text{
    color: white;
    font-size: 52px;
    font-family: Roboto;
    font-weight: bold;
    margin-left: 110px;
   
    
    
}
.about-text{
   margin-top: 100px;
}
.joined{
    margin-top: 140px;
    text-align: center;
    margin-left: 10%;
}
.red-text{
    color: #DD2C2C;
    font-size: 52px;
    font-family: Roboto;
    font-weight: bold;
    
}
.subheading{
    color: white;
    font-family: Poppins;
    font-weight: normal;
    margin-left: 110px;
}
.subtext{
    color: white;
    font-family: Poppins;
    font-weight: normal;
    margin-left: 110px;
}
.learn-more{
    border-radius: 20px;
    color: white;
    background-color: #DD2C2C;
    font-family: Poppins;
    font-size: 14px;
    width: 120px;
    height: 40px;
    margin-top: 36px;
    margin-left: 110px;
}
.container3{
    border-radius: 20px white;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    margin-top: 140px;
    padding: 15px;
    width: 520px;
    height: 300px;
   
    
    
    
}
.mission{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: Poppins;
    gap: 20px;
    
}
#sub{
    margin-right: 105px;
}

/* BLOG SECTION */

.blog1{
    margin-left: 111px;
    background-color: white;
    padding: 13px;
    width: 338px;
    height: 500px;
    border-radius: 20px;
}

.blogs h1{
    margin-top: 8%;
    font-size: 42px;
}
.blog1-text h1{
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-weight: SemiBold;
}
.blog1-text{
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 14px;
    line-height: 1.7;
    margin-left: 11px;
}
.blog1-text button{
    margin-left:0px;
    margin-top: 0px;
}
.blog-row{
    display: flex;
}
.fundraising{
    font-size: 26px;
    font-weight: bold;
}

/* FAQS SECTION */
.faqs h1{
    margin-top: 8%;
    font-size: 42px;
    margin-left: 110px;
    color: aliceblue;
}
.questions{
    margin-left: 50px;
    color: aliceblue;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 20px;
    letter-spacing: 2px;
    
}
.questions h4{
    font-size: 16px;
}
.faq-decoraion{
    border: 2px solid white;
    border-radius: 20px;
    width: 1151px;
    height: 152px;
    margin-left: 75px;
    margin-top: 25px;
}
.questions h4{
    margin-left: 20px;
}
.brands{
    background-color: #000;
}
.container5{
    background-color: #000000;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 110px;
    height: 78px;
}

/* FOOTER */

.footer{
    background: #280404;
    display: flex;
    justify-content: center;
    padding-right: 100px ;
    margin-top: 8%;
}
.footer-img{
    margin-left: 110px;
    margin-top: 150px;
}
.subheading h2{
    margin-top: 142px;
    font-size: 18px;
    font-family: Poppins;
    font-weight: SemiBold;
}
.subheading h5{
    font-size: 14px;
    font-family: Poppins;
    font-weight: Normal;
}
@keyframes appear {
    from {
      opacity: 0;
      clip-path: inset(100% 100% 0 0);
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }






  /* General Mobile Styles */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .nav{
        margin: 4px;
        gap: 5px;
        margin-top: 20px;
    }
    .nav-button {
        width: 59px;
        height: 27px;
        display: inline;
        font-weight: medium;
        font-size: 11px;
    }
    .login{
        margin: 20px;
        margin-left: 29px;
        margin-top: -2px;
    }
    .mainheading{
        font-size: 59px;
    }
    .subheading{
        margin-left: 85px;
        font-size: 17px;
    }
    button{
        font-size: 18px;
        width: 145px;
        height: 43px;
    }
    .rev{
        margin-left: 19px;
        font-size: 17px;
        margin-top: 26px;
    }
    .white-text{   
        font-size: 40px;
        margin-left: 78px;
    }
    .red-text{
        font-size: 42px;
    }
    .subtext{
        margin-left: 86px;
        font-size: 18px;
    }
    .users{
        font-size: 52px;
        margin-left: -2px;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
    .learn-more{
        margin-left: 305px;
    }
    .mission{
        display: flex;
        flex-direction: column;
    }
    .container3{
        width: 506px;
        height: 314px;
        margin-left: 108px;
    }
    .blogs h1 {
        margin-top: 13%;
        font-size: 36px;
    }
    .blog-row {
        display: flex;
        flex-direction: column;
    }
    .blog1{
        margin-left: 196px;
        margin-top: 4%;   
    }
    .faqs h1 {
        margin-top: 12%;
        font-size: 31px;
        margin-left: 82px;
        color: aliceblue;
    }
    .faq-decoraion{
        margin-left: 52px;
        margin-top: 26px;
        width: 596px;
        height: 214px;
    }
    .questions{
        font-size: 16px;
    }
    .bt{
        margin-top: 24px;
        margin-right: 24px;
        width: 126px;
    }
    .footer{
        margin-top: 1%;
    }
}

/* CSS for extra small devices */
@media (max-width: 575.98px) { 
    .nav {
        margin: -35px;
        gap: 0px;
        margin-top: 20px;
    }
    .nav-button{
        display: none;
    }
    .mainheading {
        font-size: 56px;
    }
    .subheading {
        margin-left: 15px;
        font-size: 15.8px;
    }
    .seen{
        display: none;
    }
    .subheading {
        margin-left: 85px;
    }
    .learn-more {
        margin-left: 239px;
    }
    .container3 {
        width: 356px;
        height: 380px;
        margin-left: 106px;
    }
    .blog1 {
        margin-left: 120px;
    }
    .faqs h1 {
       
        font-size: 26px;
        margin-left: 59px;
        
    }
    .faq-decoraion {
        margin-left: 46px;
        margin-top: 27px;
        width: 487px;
        height: 266px;
    }
    .bt {
        margin-top: 26px;
        margin-right: -14px;
        width: 119px;
    }
    .nav ul a {
        text-decoration: none;
        font-size: 13px;
        margin-left: 15px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .nav{
        margin: 1px;
        gap: 1px;
        margin-top: 21px;
    }
    .seen{
        display: none;
    }
    .nav-button {
        display: none;
    }
    .login{
        margin: 20px;
        margin-left: 29px;
        margin-top: -2px;
    }
    .mainheading {
        font-size: 53px;
    }
    .subheading {
        margin-left: 38px;
        font-size: 14px;
    }
    button{
        font-size: 18px;
        width: 145px;
        height: 43px;
    }
    .rev{
        margin-left: 19px;
        font-size: 17px;
        margin-top: 26px;
    }
    .white-text{   
        font-size: 40px;
        margin-left: 35px;
    }
    .red-text{
        font-size: 42px;
    }
    .subtext{
        margin-left: 39px;
        font-size: 14px;
    }
    .users{
        font-size: 52px;
        margin-left: -2px;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
    .learn-more{
        margin-left: 206px;
    }
    .mission{
        display: flex;
        flex-direction: column;
    }
    .container3 {
        width: 338px;
        height: 313px;
        margin-left: 108px;
    }
    .blogs h1 {
        margin-top: 13%;
        font-size: 36px;
    }
    .blog-row {
        display: flex;
        flex-direction: column;
    }
    .blog1{
        margin-left: 117px;
        margin-top: 5%;
    }
    .faqs h1 {
        margin-top: 12%;
        font-size: 27px;
        margin-left: 64px;
       
    }
    .faq-decoraion {
        margin-left: 50px;
        margin-top: 26px;
        width: 488px;
        height: 224px;
    }
    .questions{
        font-size: 16px;
    }
    .questions h4 {
        font-size: 13px;
    }
    .bt {
        margin-top: 24px;
        margin-right: 24px;
        width: 80px;
        height: 58px;
    }
    .footer{
        margin-top: -3%;
    }
    .footer-img {
        margin-left: 39px;
        margin-top: 150px;
    }
    #sub {
        margin-right: 24px;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .nav{
        margin: 4px;
        gap: 5px;
        margin-top: 20px;
    }
    .nav-button {
        width: 59px;
        height: 27px;
        display: inline;
        font-weight: medium;
        font-size: 11px;
    }
    .login{
        margin: 20px;
        margin-left: 29px;
        margin-top: -2px;
    }
    .mainheading{
        font-size: 59px;
    }
    .container {
        display: flex;
        gap: 105px;
    }
    .subheading{
        margin-left: 85px;
        font-size: 17px;
    }
    button{
        font-size: 18px;
        width: 145px;
        height: 43px;
    }
    .rev{
        margin-left: 19px;
        font-size: 17px;
        margin-top: 26px;
    }
    .white-text{   
        font-size: 40px;
        margin-left: 78px;
    }
    .red-text{
        font-size: 42px;
    }
    .subtext{
        margin-left: 86px;
        font-size: 18px;
    }
    .users{
        font-size: 52px;
        margin-left: -2px;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
    .learn-more {
        margin-left: 176px;
    }
    .mission{
        display: flex;
        flex-direction: column;
    }
    .container3{
        width: 506px;
        height: 314px;
        margin-left: 212px;
    }
    .blogs h1 {
        margin-top: 13%;
        font-size: 44px;
    }
    .blog-row {
        display: flex;
        flex-direction: column;
    }
    .blog1{
        margin-left: 292px;
        margin-top: 4%;   
    }
    .faqs h1 {
        margin-top: 12%;
        font-size: 37px;
        margin-left: 82px;
        color: aliceblue;
    }
    .faq-decoraion{
        margin-left: 166px;
        margin-top: 26px;
        width: 596px;
        height: 214px;
    }
    .questions{
        font-size: 16px;
    }
    .bt{
        margin-top: 24px;
        margin-right: 24px;
        width: 126px;
    }
    .footer{
        margin-top: 1%;
    }
    .about-text {
        margin-top: 100px;
        text-align: center;
    }
}